<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://", method="", id="document">
        {{form.hidden:tag()}}
        <div>
            {{form.documento.label}}
            {{form.documento()}}
        </div>
        <div>
            {{form.nombre.label}}
            {{form.nombre()}}
        </div>
        <div>
            {{form.ciclo.label}}
            {{form.ciclo()}}
        </div>
        <div>
            {{form.genero.label}}
            {{form.genero()}}
        </div>
        <div>
            {{form.estado.label}}
            {{form.estado()}}
        </div>
        <div>
            {{form.guardar()}}
        </div>
        <div>
            {{form.insertar()}}
        </div>
        <div>
            {{form.eliminar()}}
        </div>
        <div>
            {{form.actualizar()}}
        </div>
    </form>
</body>
</html>